/*variables para el proyecto*/
:root {
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--white: #ffffff;
	--black: #000000;
	/*declarando variables de tamaños para los textos*/
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
body {
	font-family: "Quicksand", sans-serif;
}

/*creamos una nueva clase 'inactive' la cual usaremos para hacer
desaparecer elementos cuando no los necesitamos*/
.inactive {
	display: none /* !important */;
}

/*Navbar menu*/
nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
}
.menu {
	display: none;
}
.navbar-left {
	display: flex;
}
.logo {
	width: 100px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}
.navbar-left ul a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 12px;
	cursor: pointer;
}
.navbar-shopping-cart {
	position: relative;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: var(--sm);
	/* organizar la bolita en la posicion */
	position: absolute;
	top: -6px;
	right: -3px;
	/* centrar el texto en la bola */
	display: flex;
	/* nos aseguramos que se centre tanto horizontal como verticalmente */
	justify-content: center;
	justify-items: center;
}

/*Menu desplegable del navbar en desktop*/
.desktop-menu {
	position: absolute;
	top: 70px; /*el inspector nos puede decir el tamaño de elementos*/
	right: 60px;
	background: var(--white);
	width: 100px;
	height: auto;
	border: 1px solid var(--very-light-pink);
	border-radius: 6px;
	/*el borde inferior es super pone con el especifico, por eso se quita*/
	padding: 20px 20px 0 20px;
}
.desktop-menu ul {
	/*quitar los puntos de listado*/
	list-style: none;
	/*las listas vienen con pading y margin por defecto*/
	padding: 0;
	margin: 0;
}
.desktop-menu ul li {
	/*alinear a la derecha*/
	text-align: end;
}
.desktop-menu ul li a {
	color: var(--black);
	text-decoration: none;
	/*recuerda los objetos inline no se pueden aplicar margin y otros*/
	display: inline-block; /*podemos cambiarlo a un inline-block para que tenga estas propiedades*/
	margin-bottom: 20px;
}
.desktop-menu ul li a:nth-child(1),
.desktop-menu ul li a:nth-child(2) {
	font-weight: bold;
}
.desktop-menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
	color: var(--hospital-green);
	font-size: var(--sm);
}

/*Menu despleglable del navbar en mobile*/
.mobile-menu {
	position: absolute;
	top: 60px;
	padding: 24px;
	background-color: var(--white);
	/*organizar elementos*/
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;*/
}
.mobile-menu ul {
	padding: 0;
	margin: 24px 0 0;
	list-style: none;
}
.mobile-menu ul:nth-child(1) {
	border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li {
	margin-bottom: 24px;
}
.mobile-menu a {
	text-decoration: none;
	color: var(--black);
	font-weight: bold;
}
.mobile-menu ul:last-child {
	/* position: absolute;
	bottom: 0;
	margin-bottom: 30px; */
	margin-top: 100px;
}
.mobile-menu .email {
	font-size: var(--sm);
	font-weight: lighter;
	/*para casos de especificidad, podemos ser mas especificos, o en su defecto al lado de la linea
    podemos poner !important, para que asi le de prioridad
    font-weight: lighter !importatn;*/
}
.mobile-menu .sing-out {
	font-size: var(--sm);
	color: var(--hospital-green);
}

/* carrito de compras */
.product-detail {
	background-color: var(--white);
	width: 360px;
	padding: 24px;
	/*deja el tamaño declarado (width y height) y no le suma
    los tamaños extra (margin, paddin, etc), si no que el 
    tamaño declarado es el maximo y los extra deben acogerce
    a ese maximo, haciendolo una suma total y no un agregado*/
	box-sizing: border-box;
	position: absolute;
	right: 0;
}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
}
.title {
	font-size: var(--lg);
	font-weight: bold;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 25px;
	border-radius: 8px;
	/* arriba y abajo 0, a los costados 24 */
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}
.primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	/*ocupe el 100%*/
	width: 100%;
	/*cuando se ponga el cursor salga una mano no el mouse*/
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.shopping-cart {
	display: grid;
	/* tamaño de la imagen, texto, espacio, texto */
	grid-template-columns: auto 1fr auto auto;
	/* espaciado para separar las cajas */
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
}
.shopping-cart figure {
	margin: 0;
}
.shopping-cart figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
}
.shopping-cart p:nth-child(2) {
	color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}

/*contenedor de las tarjetas de productos*/
.cards-container {
	display: grid;
	/*si queremos columnas iguales esta es una opcion
	grid-template-columns: 1fr 1fr;*/
	/*esta esta opcion para solo cambiar un parametro con responsive*/
	/*repite, #de veces, tamaño columna
	grid-template-columns: (repeat(2, 1fr));*/
	/*tambien es posible declararlo para que se ajuste al tamaño de la
	pantalla con un tamaño especifico*/
	/*auto llenar la pantalla, tamaño de columnas*/
	grid-template-columns: repeat(auto-fill, 240px);
	/*asi añadimos espacio entre las columnas*/
	gap: 26px;
	/*centrar contenido*/
	place-content: center;
	margin-top: 30px;
}
.product-card {
	width: 240px;
}
.product-card img {
	width: 240px;
	height: 240px;
	border-radius: 20px;
	/*la imagen tendra su tamaño independiente del width y height establecido
	asi ya no se distorciona
	object-fit: cover;*/
}
.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0px;
	margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}
.product-info figure {
	/*el contenedor figure por default tiene un margen*/
	margin: 0;
}
.product-info figure img {
	/*la regla anterios de ".product-card img" esta tomando
	todas las img dentro de el, por eso con una regla mas especifica
	reducimos el icono*/
	width: 35px;
	height: 35px;
}

/* parte mobile */
@media (max-width: 640px) {
	/* menu de amburguesa mobile */
	.menu {
		display: block;
	}
	/* ocultar componentes navbar desktop */
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
	.desktop-menu {
		display: none;
	}
	/* carrito de compras */
	.product-detail {
		width: 100vw;
	}
	/* cartas de productos */
	.cards-container {
		display: grid;
		/*le reducimos el tamaño de las columnaspara asi poder tener mas columnas
		en pantallas mas pequeñas*/
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.product-card {
		width: 140px;
	}
	.product-card img {
		width: 140px;
		height: 140px;
	}
}

@media (min-width: 641px) {
	.mobile-menu {
		display: none;
	}
}
